*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    border: 2px solid #000;
    background-color: blueviolet;
}
.box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: rgb(116, 37, 190);
    border-radius: 2rem;
}
.text{
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(128, 58, 193);
    border-radius: 1rem;
}
.heading{
    background-color: rgb(207, 204, 204);
    border-radius: 1rem;
}
.last{
    margin: 20px;
    padding: 20px;
    margin-bottom: 20px;
    inline-size: 30vw;
    background-color: rgba(249, 30, 30, 0.763);
    border-radius: 1rem;
}
input{
    border: solid #000 2px;
    border-radius: 1.2rem;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3)
}
button{
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
